<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur3e_atom">
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
  <xacro:include filename="$(find atom_gripper_description)/urdf/atom_gripper.urdf.xacro"/>
  <xacro:include filename="$(find atom_gripper_description)/urdf/atom_ros2_control.urdf.xacro"/>

  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="joint_limit_params" default="$(find ur_description)/config/ur3e/joint_limits.yaml"/>
  <xacro:arg name="kinematics_params" default="$(find ur_description)/config/ur3e/default_kinematics.yaml"/>
  <xacro:arg name="physical_params" default="$(find ur_description)/config/ur3e/physical_parameters.yaml"/>
  <xacro:arg name="visual_params" default="$(find ur_description)/config/ur3e/visual_parameters.yaml"/>
  <xacro:arg name="initial_finger_position" default="0.0"/>
  <xacro:arg name="control_backend" default="native"/>
  <xacro:arg name="enable_logical_grasp" default="false"/>
  <xacro:arg name="simulation_controllers" default="$(find atom_gripper_description)/config/ros2_controllers.yaml"/>
  <xacro:property name="atom_ur_joint_limits" value="${xacro.load_yaml('$(arg joint_limit_params)')['joint_limits']}"/>
  <xacro:property name="use_ros2_control" value="${'$(arg control_backend)' == 'ros2_control'}"/>

  <link name="world"/>
  <xacro:ur_robot
    name="ur3e_atom"
    ur_type="ur3e"
    tf_prefix="$(arg prefix)"
    parent="world"
    joint_limits_parameters_file="$(arg joint_limit_params)"
    kinematics_parameters_file="$(arg kinematics_params)"
    physical_parameters_file="$(arg physical_params)"
    visual_parameters_file="$(arg visual_params)"
    generate_ros2_control_tag="false"
    safety_limits="true"
    safety_pos_margin="0.15"
    safety_k_position="20">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:ur_robot>

  <xacro:atom_gripper parent="$(arg prefix)flange" prefix="$(arg prefix)" use_mimic="false">
    <origin xyz="0 0 0" rpy="1.5707963268 0 1.5707963268"/>
  </xacro:atom_gripper>

  <gazebo reference="world">
    <static>true</static>
  </gazebo>

  <xacro:macro name="ign_position_controller" params="joint initial_position p_gain d_gain cmd_max">
    <gazebo>
      <plugin filename="ignition-gazebo-joint-position-controller-system"
              name="ignition::gazebo::systems::JointPositionController">
        <joint_name>${joint}</joint_name>
        <topic>/model/ur3e_atom/joint/${joint}/cmd_pos</topic>
        <initial_position>${initial_position}</initial_position>
        <p_gain>${p_gain}</p_gain>
        <i_gain>0.1</i_gain>
        <d_gain>${d_gain}</d_gain>
        <i_max>1</i_max>
        <i_min>-1</i_min>
        <cmd_max>${cmd_max}</cmd_max>
        <cmd_min>-${cmd_max}</cmd_min>
      </plugin>
    </gazebo>
  </xacro:macro>

  <xacro:unless value="${use_ros2_control}">
    <!-- Numerical hold gains are provisional; output caps come from the official UR limits. -->
    <xacro:ign_position_controller joint="$(arg prefix)shoulder_pan_joint" initial_position="0.0" p_gain="300" d_gain="10" cmd_max="${atom_ur_joint_limits['shoulder_pan_joint']['max_effort']}"/>
    <xacro:ign_position_controller joint="$(arg prefix)shoulder_lift_joint" initial_position="-1.5707963268" p_gain="500" d_gain="20" cmd_max="${atom_ur_joint_limits['shoulder_lift_joint']['max_effort']}"/>
    <xacro:ign_position_controller joint="$(arg prefix)elbow_joint" initial_position="1.5707963268" p_gain="500" d_gain="20" cmd_max="${atom_ur_joint_limits['elbow_joint']['max_effort']}"/>
    <xacro:ign_position_controller joint="$(arg prefix)wrist_1_joint" initial_position="-1.5707963268" p_gain="100" d_gain="5" cmd_max="${atom_ur_joint_limits['wrist_1_joint']['max_effort']}"/>
    <xacro:ign_position_controller joint="$(arg prefix)wrist_2_joint" initial_position="-1.5707963268" p_gain="100" d_gain="5" cmd_max="${atom_ur_joint_limits['wrist_2_joint']['max_effort']}"/>
    <xacro:ign_position_controller joint="$(arg prefix)wrist_3_joint" initial_position="0.0" p_gain="50" d_gain="2" cmd_max="${atom_ur_joint_limits['wrist_3_joint']['max_effort']}"/>
    <xacro:ign_position_controller joint="$(arg prefix)left_finger_joint" initial_position="$(arg initial_finger_position)" p_gain="300" d_gain="0.5" cmd_max="5"/>
    <xacro:ign_position_controller joint="$(arg prefix)right_finger_joint" initial_position="$(arg initial_finger_position)" p_gain="300" d_gain="0.5" cmd_max="5"/>
    <gazebo>
      <plugin filename="ignition-gazebo-joint-state-publisher-system"
              name="ignition::gazebo::systems::JointStatePublisher">
        <topic>/model/ur3e_atom/joint_state</topic>
      </plugin>
    </gazebo>
  </xacro:unless>

  <xacro:if value="${use_ros2_control}">
    <xacro:atom_ros2_control name="ur3e_atom" hardware_plugin="ign_ros2_control/IgnitionSystem" prefix="$(arg prefix)" initial_finger_position="$(arg initial_finger_position)"/>
    <gazebo>
      <plugin filename="libign_ros2_control-system.so" name="ign_ros2_control::IgnitionROS2ControlPlugin">
        <parameters>$(arg simulation_controllers)</parameters>
      </plugin>
    </gazebo>
  </xacro:if>

  <xacro:if value="$(arg enable_logical_grasp)">
    <gazebo>
      <plugin filename="ignition-gazebo-detachable-joint-system" name="ignition::gazebo::systems::DetachableJoint">
        <!-- Fixed gripper frames are collapsed into wrist_3_link by URDF-to-SDF conversion. -->
        <parent_link>$(arg prefix)wrist_3_link</parent_link>
        <child_model>cuvette</child_model>
        <child_link>body</child_link>
        <detach_topic>/atom_grasp/detach</detach_topic>
        <attach_topic>/atom_grasp/attach</attach_topic>
        <output_topic>/atom_grasp/state</output_topic>
      </plugin>
    </gazebo>
  </xacro:if>
</robot>
